name: Docker NodeJS Images GitHub workflow

on:
  pull_request:
    branches:
      - 'master'
  push:
    branches:
      - 'master'
  schedule:
    - cron: '43 4 * * 0'

jobs:
  build_test_maybe_release:
    strategy:
      matrix:
        include:
          - variant: '6'
          - variant: '8'
          - variant: '10'
          - variant: '12'
          - variant: '14'
          - variant: '16'
          - variant: '18'
          - variant: '6-apache'
          - variant: '8-apache'
          - variant: '10-apache'
          - variant: '12-apache'
          - variant: '14-apache'
          - variant: '16-apache'
          - variant: '18-apache'
    runs-on: ubuntu-latest
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - uses: actions/checkout@v1
      - name: Build and test
        run: |
          BRANCH="master" VARIANT="${{ matrix.variant }}" ./build-and-test.sh
          docker images | grep thecodingmachine/nodejs
      - name: Login to DockerHub
        # Merge ~ push.
        if: ${{ github.event_name == 'push' || github.event_name == 'schedule' }}
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Release
        # Merge ~ push.
        if: ${{ github.event_name == 'push' || github.event_name == 'schedule' }}
        run: |
          docker push thecodingmachine/nodejs:${{ matrix.variant}}
